.site-content {
    h1 {
        @apply text-xl lg:text-4xl font-minecraft mb-10;
    }

    h2 {
        @apply text-3xl font-minecraft;
        span {
            @apply text-4xl;
        }
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }

    .minecraft {
        @apply font-minecraft;
    }
}

/* BACKGROUNDs */

.bg-header {
    background-image: url(../assets/img/green-blocks.png);
    @apply bg-repeat-x bg-contain;
}

.bg-title {
    background: radial-gradient(#7a4c34, #5e2f13);
}

.bg-footer {
    background-color: #532d19;
    background-image: url(../assets/img/green-blocks-footer.png);
    @apply bg-repeat-x bg-contain lg:bg-auto bg-bottom;
}

/* MENU */

.main-menu {
    a>span {
        @apply text-2xl !important;
    }
}

    /* Icons */

    .icon-eth {
        background-image: url(../assets/img/icons/icon-eth-white.svg);
    }

    .icon-tw {
        background-image: url(../assets/img/icons/icon-twitter-white.svg); 
    }

    .icon-ds {
        background-image: url(../assets/img/icons/icon-discord-white.svg);
    }

    .icon-tw-br {
        background-image: url(../assets/img/icons/icon-twitter-brown.svg); 
    }

    .icon-ds-br {
        background-image: url(../assets/img/icons/icon-discord-brown.svg);
    }

    .icon-eth, .icon-tw, .icon-ds, .icon-tw-br, .icon-ds-br {
        @apply inline-block bg-no-repeat bg-contain;

        & i {
            @apply hidden;
        }
    }